extends ../../base

block title
  title= "Améliorer son flux de travail avec Hub"

block content
  include ../../views/menu/menu-blog.html  
  main.article
    include ../../views/blog/articles/hub.html
  include ../../views/footer.html
