extends ../../base

block title
  title= "L’apostrophe, la vraie"

block content
  include ../../views/menu/menu-blog.html 
  main.article
    include ../../views/blog/articles/apostrophe.html
  include ../../views/footer.html
