extends ../../base

block title
  title= "Article test"

block content
  include ../../views/menu/menu-blog.html  
  main.article
    include ../../views/blog/articles/test.html
  include ../../views/footer.html
