extends ../base

block title
  title= "Articles | Typographie"

block stylesheets
  link(rel='stylesheet' href='/css/main.css')  
  
block content
  include ../views/menu/menu-blog.html
  main.blog
    h1 Articles classés «&nbsp;typographie&nbsp;»
    include ../views/blog/list/apostrophe.html 
  include ../views/footer.html

block scripts
  script(src='/js/main.js')
