extends ../base

block title
  title= "Articles | Workflow"
  
block content
  include ../views/menu/menu-blog.html
  main.blog
    h1 Articles classés «&nbsp;workflow&nbsp;»
    include ../views/blog/list/hub.html   
  include ../views/footer.html
