doctype html
html(lang='fr' dir='ltr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content= 'Sébastien Pereda || Développement web, webdesign, communication')
    block title
      title= "Sébastien Pereda"
    link(rel='icon' type='img/png' href='/logo.png')
    link(rel='apple-touch-icon' href='/logo.png')
    meta(name='msapplication-config' content='browserconfig.xml')
    block stylesheets    
      link(rel='stylesheet' href='/css/main.css')

  body
    block content
      
    block scripts
      script(src='/js/vendors/jquery.js')
      script(src='/js/vendors/typed.js')
      script(src='/js/main.js')
    
