//***********************
// BLOCKQUOTES
//***********************
blockquote
  border-left 6px solid primary
  margin 2rem 0
  padding 1rem 2rem
  p
    margin-bottom .3em
  footer, footer a
    color meta-color
    a
      &:hover
        color darken(meta-color, 10)
