//***********************
// UTILITY CLASSES
//***********************

/***********
=Typography=
************/

/* Sizes */
.display1
  font-size display1-font-size
  font-weight font-weight-book
  line-height headings-line-height
.display2
  font-size display2-font-size
  font-weight font-weight-book
  line-height headings-line-height
.display3
  font-size display3-font-size
  font-weight font-weight-book
  line-height headings-line-height
.display4
  font-size display4-font-size
  font-weight font-weight-book
  line-height headings-line-height

.h1
  font-size h1-font-size
  line-height headings-line-height
.h2
  font-size h2-font-size
  line-height headings-line-height
.h3
  font-size h3-font-size
  line-height headings-line-height
.h4
  font-size h4-font-size
  line-height headings-line-height
.h5
  font-size h5-font-size
  line-height headings-line-height
.h6
  font-size h6-font-size
  line-height headings-line-height

/* Weight */
.thin
  font-weight font-weight-thin
.light
  font-weight font-weight-light
.book
  font-weight font-weight-book
.regular
  font-weight font-weight-regular
.medium
  font-weight font-weight-medium
.semibold
  font-weight font-weight-semibold
.bold
  font-weight font-weight-bold
.bolder
  font-weight font-weight-black
.ultra
  font-weight font-weight-ultra

/* Line-height */
.compact
  line-height line-height-tiny

/* Letter-spacing */
.letter-spacing-sm
  letter-spacing -.05em
.letter-spacing
  letter-spacing .1em
.letter-spacing-lg
  letter-spacing .2em
.letter-spacing-xl
  letter-spacing .25em

/* Style */
.italic
  font-style italic
.underline
  text-decoration underline
.line-through
  text-decoration line-through
.capitalize
  text-transform capitalize
.uppercase
  text-transform uppercase
.small-caps
  font-variant: small-caps

/* Width */
.small-text-container
  max-width 20em
.text-container
  max-width 30em
.large-text-container
  max-width 40em

/* Paragraph */
.indent
  text-indent 1em
  margin-top 0
  margin-bottom 0

/* Text-align */
.left
  text-align left
.right
  text-align right
.center
  text-align center
.justify
  text-align justify
  hyphens auto

/********
=Colors=
********/
.text
  color text-color-base!important
.meta
  color meta-color!important
.white
  color white!important
.yellow
  color yellow!important
.gold
  color gold!important
.orange
  color orange!important
.light-red
  color light-red!important
.red
  color red!important
.dark-red
  color dark-red!important
.light-green
  color light-green!important
.green
  color green!important
.dark-green
  color dark-green!important
.light-blue
  color light-blue!important
.blue
  color blue!important
.dark-blue
  color dark-blue!important
.light-purle
  color light-purle!important
.purple
  color purple!important
.dark-purle
  color dark-purle!important
.dark-pink
  color dark-pink!important
.hot-pink
  color hot-pink!important
.pink
  color pink!important
.light-pink
  color light-pink!important
.washed-blue
  color washed-blue!important
.washed-green
  color washed-green!important
.washed-yellow
  color washed-yellow!important
.washed-red
  color washed-red!important

.bg-dark
  background-color gray-90!important
.bg-yellow
  background-color yellow!important
.bg-gold
  background-color gold!important
.bg-orange
  background-color orange!important
.bg-light-red
  background-color light-red!important
.bg-red
  background-color red!important
.bg-dark-red
  background-color dark-red!important
.bg-light-green
  background-color light-green!important
.bg-green
  background-color green!important
.bg-dark-green
  background-color dark-green!important
.bg-light-blue
  background-color light-blue!important
.bg-blue
  background-color blue!important
.bg-dark-blue
  background-color dark-blue!important
.bg-light-purle
  background-color light-purle!important
.bg-purple
  background-color purple!important
.bg-dark-purle
  background-color dark-purle!important
.bg-dark-pink
  background-color dark-pink!important
.bg-hot-pink
  background-color hot-pink!important
.bg-pink
  background-color pink!important
.bg-light-pink
  background-color light-pink!important
.bg-washed-blue
  background-color washed-blue!important
.bg-washed-green
  background-color washed-green!important
.bg-washed-yellow
  background-color washed-yellow!important
.bg-washed-red
  background-color washed-red!important

/********
=Spacing=
********/

.spacer
  margin 1rem

.spacer-lg
  margin 2rem

.spacer-xl
  margin 4rem

.spacer-xxl
  margin 8rem

.mb0
  margin-bottom 0!important

.mb-sm
  margin-bottom .5rem!important

.mb
  margin-bottom 1rem!important
