//***********************
// CODE
//***********************
code
  background gray-80
  border 1px solid gray-10
  border-radius: 4px
  color gray-20
  margin 0 .2rem
  padding .2rem .5rem

pre > code
  font-size 1rem
  display block
  padding 1rem 1.5rem
  white-space pre

kbd
  padding .1em .6em
  border 1px solid gray-40
  background-color gray-10
  color gray-80
  font-size 13px
  border-radius 3px
  display inline-block
  box-shadow 1px 1px 1px gray-60
  margin 0 .1em
  text-shadow 0 1px 0 white
  position relative
  bottom 3px
