//***********************
// LINKS
//***********************
a
  color link-color
  text-decoration link-decoration
  &:hover
    color link-hover-color
    cursor pointer
    text-decoration link-hover-decoration
