////////////////////////////////////////////////////////////////////
///////////////////////// PROJECT STYLES ///////////////////////////
////////////////////////////////////////////////////////////////////

//***********************
// TYPOGRAPHY
//***********************
h1
  margin-top spacer-xl
  margin-bottom spacer-lg
  text-align center

h2, h4
  margin-bottom 0

//***********************
// CONTAINER
//***********************

main
  max-width md
  margin 0 auto

//***********************
// LINKS
//***********************
nav ul li a
  color text-color-base
  text-decoration none

a.tag
  color meta-color
  &:hover
    text-decoration underline

//***********************
// MAIN NAV
//***********************
nav
  height 120px
  @media screen and (max-width: lg)
    height 80px
  border-bottom 1px solid gray-20
nav ul
  list-style-type none
  padding-left 0
  margin-bottom 0
nav, nav ul, nav a
  display flex
  justify-content space-between
  @media screen and (min-width: md)
    justify-content center
    align-items center

nav ul li a
  color text-color-base
  &:hover
    color text-color-base
    text-decoration none

nav ul li
  padding .5em 0
  margin 0 1em
  text-transform uppercase
  font-weight 700
  letter-spacing 1px
  @media screen and (max-width: md)
    display none
  @media screen and (max-width: lg)
    font-size 15px
    letter-spacing .5px
    padding .2em 0
    margin 0 .5em
  @media screen and (min-width: md)
    border-bottom 4px solid background-color-base
    &:hover
      border-bottom 4px solid primary
      transition border-bottom .4s .1s

@media screen and (max-width: md)
  nav.is-opened
    height 160px
  nav.is-opened ul li
    display block
  nav ul
    flex-direction column
    justify-content space-around

@media screen and (max-width: md)
  nav ul li.active a
    color primary
  nav ul
    align-items center
  nav ul li
    padding-top 1em
    padding-bottom 1em

@media screen and (min-width: md)
  nav ul li.active
    border-bottom 4px solid primary

nav img
  margin 0 1em
  width 80px
  @media screen and (max-width: lg)
    width 60px

#logo
  @media screen and (max-width: md)
    order -1

.nav-button
  @media screen and (min-width: md)
    display none

//***********************
// FOOTER
//***********************
#footer
 padding 2rem
 text-align center
 a
   text-decoration none
   color text-color-base

//***********************
//  HOME
//***********************
@media screen and (max-width: sm)
  #typed
    font-size 28px
main.index
  display flex
  @media screen and (min-width: md)
    flex-wrap wrap
    align-items flex-end
    img
      height 380px
    section
      max-width 500px
      margin-right 15px
      p:last-child
        margin-bottom 0

//***********************
// ABOUT
//***********************
main.about
  max-width sm

//***********************
// BLOG
//***********************
main.blog
  max-width md
  text-align center
  h1
    margin-bottom 3rem
  p
    margin-bottom 0
    color meta-color
  time
    color text-color-base
  article
    background-color: white
    border-radius: 6px
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2)
    margin-bottom: 2rem
  header
    padding 1rem 1rem 0
  .card-content
    padding 0 1rem 1rem

main.article
  max-width sm

article h1
  font-size 2em
  text-align center
  margin 2em 0 .25em

p.subtitle
  text-align center
  font-size .9em
  color meta-color
  margin-bottom 2rem

//***********************
// RESSOURCES
//***********************

main.ressources
  max-width md

.ressources h2, .ressources h2~p
  text-align center

.ressources h2
  margin-top 2rem
  margin-bottom 2rem

.ressources article img
  max-width 300px

//***********************
// CV
//***********************

.cv-bg
  background-color gray-10
  padding-bottom 5rem
main.cv
  h1
    margin-top 0
    padding-top 3rem
  header
    text-align center
    margin 1rem 0 2rem
  h3
    font-size h4-font-size
    margin-bottom 0
  section p:first-of-type
    color meta-color
    margin-bottom .5rem
  section
    margin-bottom 2rem
article.formation
  text-align center
