//***********************
// CSS TABS
//***********************
.tabs {
  display: flex;
  flex-wrap: wrap;
}
.tabs label {
  order: 1; // Put the labels first
  flex-grow: 1;
  padding: 1rem 2rem;
  margin-right: .2rem;
  cursor: pointer;
  background: lighten(primary, 30);
  color: white
  font-weight: bold;
  text-align: center;
  transition: background ease .2s;
}
.tabs label:last-of-type {
  margin-right: 0;
}
.tabs .tab {
  order: 99; // Put the tabs last
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 2rem;
  background: #fff;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: primary;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: .2rem;
  }
}
