//***********************
// BREAKPOINTS
//***********************
xs= 480px
sm= 576px
md= 768px
lg= 992px
xl= 1200px

//***********************
// TYPOGRAPHY
//***********************
font-family-sans-serif= -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif
font-family-monospace= SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
font-family-base= font-family-sans-serif

font-size-base= 20px
font-size-sm= (font-size-base * .875)
font-size-lg= (font-size-base * 1.25)

font-weight-thin= 100
font-weight-light= 200
font-weight-book= 300
font-weight-regular= 400
font-weight-medium= 500
font-weight-semibold= 600
font-weight-bold= 700
font-weight-black= 800
font-weight-ultra= 900

font-weight-base= font-weight-book
headings-font-weight= font-weight-regular

line-height-tiny= 1
line-height-small= 1.25
line-height-base= 1.5
line-height-lg= 1.6

headings-line-height= line-height-small

h1-font-size= (font-size-base * 2.5)
h2-font-size= (font-size-base * 2)
h3-font-size= (font-size-base * 1.75)
h4-font-size= (font-size-base * 1.5)
h5-font-size= (font-size-base * 1.25)
h6-font-size= font-size-base

display1-font-size= (font-size-base * 6)
display2-font-size= (font-size-base * 5)
display3-font-size= (font-size-base * 4)
display4-font-size= (font-size-base * 3)

//***********************
// COLORS
//***********************
text-color-base= gray-90
background-color-base= white
meta-color= secondary
primary= blue
secondary= gray-60

//***********************
// LINKS
//***********************
link-color= primary
link-decoration= none
link-hover-color= darken(primary, 15)
link-hover-decoration= underline

//***********************
// SPACING
//***********************
spacer-sm= .5rem
spacer= 1rem
spacer-md= 2rem
spacer-lg= 3rem
spacer-xl= 4rem

grid-gutter-sm= .75em
grid-gutter= 1em
grid-gutter-md= 2em
grid-gutter-lg= 3em
grid-gutter-xl= 4em

//***********************
// RADIUS
//***********************
border-radius-sm= .125rem
border-radius= .25rem
border-radius-round= 100%
border-radius-pill= 9999px

//***********************
// TRANSITIONS
//***********************
