<article>
  <header>
    <h1>Titre de l’article</h1>
    <p class="subtitle">Le <time>7 décembre 2017</time>, par Sébastien Pereda&thinsp;&mdash;&thinsp;<a class="tag" href="/tags/typographie.html">Autres</a></p>
  </header>
  <blockquote cite="#">
    <p>&laquo;&thinsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus velit quibusdam, tempora assumenda unde incidunt doloremque eius necessitatibus natus.&thinsp;&raquo;</p>
    <footer><cite><a href="#">Auteur</a></cite></footer>
  </blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nesciunt molestias illo maxime vel unde amet voluptatibus odio dolore, libero sequi veritatis numquam placeat dignissimos doloremque ducimus, perspiciatis minima aspernatur.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem neque corrupti, pariatur incidunt veniam adipisci eaque cum quas itaque nihil illo consectetur dignissimos quod, vitae totam ex suscipit laudantium expedita.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam inventore molestiae harum adipisci rerum, perferendis sunt aspernatur pariatur alias quibusdam porro nobis, officia et placeat officiis nesciunt assumenda natus dolor.</p>
</article>
