extends ../base

block title
    title= "Sébastien Pereda | À propos de ce site"

block content
    include ../views/menu/menu-about.html
    main.about
      include ../views/about.html
    include ../views/footer.html
