extends ../base

block title
  title= "Sébastien Pereda | Articles"

block content
  include ../views/menu/menu-blog.html
  main.blog
    h1 Articles
    include ../views/blog/list/hub.html
    include ../views/blog/list/apostrophe.html
  include ../views/footer.html
