extends ../base

block title
  title= "Sébastien Pereda | CV"

block content
  //include ../views/cv/01_skip-links.html
  include ../views/menu/menu-cv.html
  main
    include ../views/cv.html
  include ../views/footer.html
