extends ../base

block title
  title= "Sébastien Pereda | CV"

block content
  include ../views/menu/menu-cv.html
  div.cv-bg
    main.cv
      include ../views/cv.html
  include ../views/footer.html

block scripts
  script(src='/js/vendors/jquery.js')
  script(src='/js/vendors/jquery-ui.js')
  script(src='/js/main.js')