extends ../base
block title
  title= "Sébastien Pereda | Portfolio"
  
block content
  include ../views/menu/menu-portfolio.html
  main
    include ../views/portfolio.html
  include ../views/footer.html
