extends ../base

block title
  title= "Sébastien Pereda | Ressources"

block content
  include ../views/menu/menu-ressources.html
  main.ressources
    include ../views/ressources/header.html
    section
      details
        summary Sources d’information
        h2 Des blogs à suivre
        include ../views/ressources/blogs.html
    section
      details
        summary Inspiration
        h2 Des sites pour chercher l’inspiration
        include ../views/ressources/inspiration.html
    section
      details
        summary Accessibilité
        h2 Le web pour tous
        include ../views/ressources/accessibilite.html
    section
      details
        summary Typographie
        h2 Pour des sites agréables à lire
        include ../views/ressources/typographie.html
    section
      details
        summary Couleurs
        h2 Pour éviter les mélanges hasardeux
        include ../views/ressources/couleurs.html
    section
      details
        summary Design
        h2 Pour des sites qui en jettent
      include ../views/ressources/design.html
    section
      details
        summary Images
        h2 Pour de belles images optimisées
      include ../views/ressources/images.html
    section
      details
        summary Icônes
        h2 Pour toujours trouver l’icône qui va bien
      include ../views/ressources/icones.html
    section
      details
        summary Éditeurs de texte
        h2 Pas de bon artisan sans de bons outils
        include ../views/ressources/editors.html
    section
      details
        summary HTML &amp; CSS
        h2 Pour ne rien ignorer des fondamentaux
      include ../views/ressources/html-css.html
    section
      details
        summary JavaScript
        h2 Pour des expériences riches 
      include ../views/ressources/javascript.html
    section
      details
        summary Flux de travail
        h2 Pour automatiser au mieux les tâches courantes
      include ../views/ressources/flux.html
    section
      details
        summary Tests et validations
        h2 Pour être sûr que tout est parfait
      include ../views/ressources/test.html
  include ../views/footer.html
  

    
