<article class="media">
  <img class="media-figure" src="" alt="">
  <div class="media-content">
    <h4><a href="https://www.alsacreations.com/" hreflang="fr">alsacréations</a></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, voluptatem!</p>
  </div>
</article>
<article class="media">
  <img class="media-figure" src="" alt="">
  <div class="media-content">
    <h4><a href="https://www.blogduwebdesign.com/" hreflang="fr">BlogDuWebdesign</a></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, voluptatem!</p>
  </div>
</article>
<article class="media">
  <img class="media-figure" src="" alt="">
  <div class="media-content">
    <h4><a href="https://www.alistapart.com/" hreflang="en">A List Apart</a></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, voluptatem!</p>
  </div>
</article>
<article class="media">
  <img class="media-figure" src="" alt="">
  <div class="media-content">
    <h4><a href="https://www.smashingmagazine.com/" hreflang="en">Smashing Magazine</a></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, voluptatem!</p>
  </div>
</article>
<article class="media">
  <img class="media-figure" src="" alt="">
  <div class="media-content">
    <h4><a href="https://frontendfront.com" hreflang="en">Front-end Front</a></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, voluptatem!</p>
  </div>
</article>
<article class="media">
  <img class="media-figure" src="" alt="">
  <div class="media-content">
    <h4><a href="https://heydesigner.com/" hreflang="en">Hey Designer</a></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, voluptatem!</p>
  </div>
</article>
