<h3>Articles</h3>

<article class="media">
    <img class="media-figure" src="/img/smashing.jpg" alt="Logo Smashing Magazine">
    <div class="media-content">
        <h4><a href="https://www.smashingmagazine.com/2016/04/web-developer-guide-color/" hreflang="en">A Simple Web Developer’s Color Guide</a></h4>
        <small>Source : Smashing Magazine || Langue : anglais</small>
        <p>Une bonne introduction au sujet.</p>
    </div>
</article>

<h3>Outils</h3>

<article class="media">
    <img class="media-figure" src="/img/material.png" alt="Capture d’écran material palette">
    <div class="media-content">
        <h4><a href="https://www.materialpalette.com/" hreflang="en">material design palette</a></h4>
        <p>Une palette pour travailler avec les couleurs du material design.</p>
    </div>
</article>

<article class="media">
    <img class="media-figure" src="/img/colovely.png" alt="Capture d’écran colovely">
    <div class="media-content">
        <h4><a href="http://colovely.nofach.com/" hreflang="en">colovely</a></h4>
        <p>Pas inspiré ? Appuyez sur la barre d’espace jusqu’à trouver la couleur qu’il vous faut.</p>
    </div>
</article>

<article class="media">
    <img class="media-figure" src="/img/colorlisa.png" alt="Capture d’écran Color Lisa">
    <div class="media-content">
        <h4><a href="http://colorlisa.com/" hreflang="en">Color Lisa</a></h4>
        <p>Des palettes de couleur tirées de chefs-d’œuvre de la peinture. Il fallait y penser.</p>
    </div>
</article>

<article class="media">
    <img class="media-figure" src="/img/paletton.png" alt="Capture d’écran paletton">
    <div class="media-content">
        <h4><a href="http://paletton.com/" hreflang="en">paletton</a></h4>
        <p>Une roue chromatique avec beaucoup d’options.</p>
    </div>
</article>

<article class="media">
    <img class="media-figure" src="/img/uigradients.jpeg" alt="Logo uiGradients">
    <div class="media-content">
        <h4><a href="http://paletton.com/" hreflang="en">uiGradients</a></h4>
        <p>De superbes dégradés prêts à l’emploi.</p>
    </div>
</article>
