<h3>Articles</h3>

<article class="media">
    <img class="media-figure" src="/img/smashing.jpg" alt="Logo Smashing Magazine">
    <div class="media-content">
        <h4><a href="https://www.smashingmagazine.com/2017/11/comprehensive-guide-web-design/" hreflang="en">A Comprehensive Guide To Web Design</a></h4>
        <small>Source : Smashing Magazine || Langue : anglais</small>
        <p>Article très complet sur le web design.</p>
    </div>
</article>

<article class="media">
    <img class="media-figure" src="/img/4minutes.png" alt="Capture d’écran de la page Web Design in 4 minutes">
    <div class="media-content">
        <h4><a href="https://jgthms.com/web-design-in-4-minutes/" hreflang="en">Web Design in 4 minutes</a></h4>
        <small>Langue : anglais</small>
        <p>Que dire, sinon que c’est brillant ?</p>
    </div>
</article>

<article class="media">
    <img class="media-figure" src="/img/ala.png" alt="Logo A List Apart">
    <div class="media-content">
        <h4><a href="https://alistapart.com/article/learning-from-lego-a-step-forward-in-modular-web-design" hreflang="en">Learning from Lego: A Step Forward in Modular Web Design</a></h4>
        <small>Source : A List Apart || Langue : anglais</small>
        <blockquote cite="https://alistapart.com/article/learning-from-lego-a-step-forward-in-modular-web-design">&laquo;&thinsp;With hundreds of frameworks and UI kits, we are now assembling all kinds of content blocks to make web pages. However, such modularity and versatility hasn’t been achieved on the web element level yet. Learning from Lego, we can push modular web design one step forward.&thinsp;&raquo;</blockquote>
    </div>
</article>

<h3>Outils</h3>

<article class="media">
    <img class="media-figure" src="/img/gravit.jpg" alt="Logo Gravit Designer">
    <div class="media-content">
        <h4><a href="https://designer.io/" hreflang="en">Gravit Designer</a></h4>
        <p>Une solution de création graphique vectorielle gratuite et multiplateforme. Il est possible d’installer le logiciel sur sa machine ou de l’utiliser en ligne.</p>
    </div>
</article>