<h3>Éditeurs de texte gratuits</h3>

<article class="media">
    <img class="media-figure" src="/img/sublime.png" alt="Logo Sublime Text">
    <div class="media-content">
        <h4><a href="https://www.sublimetext.com/" hreflang="en">Sublime Text</a></h4>
        <p>Léger, performant, avec des tonnes d’extensions et une large communauté.
            Un excellent choix pour débuter, et un excellent éditeur tout court.</p>
    </div>
</article>

<article class="media">
    <img class="media-figure" src="/img/atom.png" alt="Logo Atom">
    <div class="media-content">
        <h4><a href="https://atom.io/" hreflang="en">Atom</a></h4>
        <p>Gourmant mais très agréable à utiliser, avec de nombreux plugins, une valeur sûre prisée par les développeurs.</p>
    </div>
</article>

<article class="media">
    <img class="media-figure" src="/img/brackets.png" alt="Logo Brackets">
    <div class="media-content">
        <h4><a href="http://brackets.io/" hreflang="en">Brackets</a></h4>
        <p>L’éditeur de texte open source d’Adobe.</p>
    </div>
</article>

<h3>Éditeurs de texte payants</h3>

<article class="media">
    <img class="media-figure" src="/img/webstorm.png" alt="Logo Webstorm">
    <div class="media-content">
        <h4><a href="https://www.jetbrains.com/webstorm/" hreflang="en">Webstorm</a></h4>
        <p>Difficile de s’en passer une fois qu’on y a goûté. Profitez au moins des 30 jours d’essai.</p>
    </div>
</article>

<article class="media">
    <img class="media-figure" src="/img/phpstorm.png" alt="Logo PhpStorm">
    <div class="media-content">
        <h4><a href="https://www.jetbrains.com/phpstorm/" hreflang="en">PhpStorm</a></h4>
        <p>Le top quand on attaque le PHP. L'autocomplétion est un régal. Il vaut largement son prix.</p>
    </div>
</article>
