<h3>Outils en ligne de commande</h3>

<article class="media">
    <img class="media-figure" src="/img/envatotuts.png" alt="Logo Envato">
    <div class="media-content">
        <h4><a href="https://webdesign.tutsplus.com/series/the-command-line-for-web-design--cms-777" hreflang="en">The Command Line for Web Design</a></h4>
        <p>Une excellente série pour découvrir les outils du workflow moderne.</p>
    </div>
</article>

<h3>Plugins</h3>

<article class="media">
    <img class="media-figure" src="/img/emmet.svg" alt="Logo Emmet">
    <div class="media-content">
        <h4><a href="https://docs.emmet.io/cheat-sheet/" hreflang="en">Emmet</a></h4>
        <p>Un plugin pour les principaux éditeurs de texte qui permet de générer du code HTML et CSS très rapidement.</p>
    </div>
</article>
