<h3>Les références</h3>

<article class="media">
    <img class="media-figure" src="/img/w3c.png" alt="Logo W3C">
    <div class="media-content">
        <h4><a href="https://www.w3.org/TR/html/" hreflang="en">La documentation du W3C</a></h4>
        <p>What else?</p>
    </div>
</article>

<article class="media">
    <img class="media-figure" src="/img/caniuse.png" alt="Capture d’écran Can I Use">
    <div class="media-content">
        <h4><a href="https://caniuse.com/" hreflang="en">Can I Use</a></h4>
        <p>La référence pour connaître la prise en charge par les navigateurs de telle ou telle fonctionnalité.</p>
    </div>
</article>

<h3>Pour débuter</h3>

<article class="media">
    <img class="media-figure" src="/img/marksheet.jpeg" alt="Logo Marksheet">
    <div class="media-content">
        <h4><a href="http://marksheet.io/" hreflang="en">Marksheet</a></h4>
        <p>C’est beau, c’est bien écrit, la première marche rêvée pour découvrir HTML et CSS.</p>
    </div>
</article>

<article class="media">
    <img class="media-figure" src="/img/interneting_is_hard.png" alt="Logo Interneting is Hard">
    <div class="media-content">
        <h4><a href="https://internetingishard.com/html-and-css/" hreflang="en">Interneting is Hard</a></h4>
        <p>Un très bon cours débutant, très pédagogique.</p>
    </div>
</article>