<h3>Images libres de droits</h3>

<article class="media">
    <img class="media-figure" src="/img/unsplash.jpeg" alt="Logo Unsplash">
    <div class="media-content">
        <h4><a href="https://unsplash.com/" hreflang="en">Unsplash</a></h4>
        <p>Unsplash fait partie des meilleures banques d’images gratuites sur le Web.
            Un grand choix et des images de qualité. Avec une excellente API par-dessus le marché.</p>
    </div>
</article>

<article class="media">
    <img class="media-figure" src="/img/stocks.png" alt="Capture d’écran The Stocks">
    <div class="media-content">
        <h4><a href="http://thestocks.im/" hreflang="en">The Stocks</a></h4>
        <p>Un moteur de recherche d’images gratuites, qui fait son marché dans les principaux sites que nous pourrions lister ici.
            Une bonne adresse si vous ne trouvez pas votre bonheur dans votre banque d’images préférée.
            À noter que le site ne se limite pas aux images mais on peut y chercher des polices, des couleurs, des icônes ou des vidéos. Entre autres.</p>
    </div>
</article>

<h3>Outils</h3>

<article class="media">
    <img class="media-figure" src="/img/optimizilla.png" alt="Logo Optimizilla">
    <div class="media-content">
        <h4><a href="http://optimizilla.com/" hreflang="en">Optimizilla</a></h4>
        <p>Un outil en ligne pour optimiser les images, avec possibilité de les traiter par lots.</p>
    </div>
</article>

<article class="media">
    <img class="media-figure" src="/img/imgsquash.jpeg" alt="Logo imgsquash">
    <div class="media-content">
        <h4><a href="https://imgsquash.com/" hreflang="en">imgsquash</a></h4>
        <p>Un autre outil en ligne pour compresser les jpeg et les png.</p>
    </div>
</article>

<article class="media">
    <img class="media-figure" src="/img/imagemagick.jpg" alt="Logo ImageMagick">
    <div class="media-content">
        <h4><a href="https://www.imagemagick.org/script/command-line-processing.php/" hreflang="en">ImageMagick</a></h4>
        <p>Un outil en ligne de commande très puissant pour traiter des images. Il faut apprendre à l’utiliser, les possibilités sont nombreuses,
        mais l’outil permet de réaliser en un clin d’œil des opérations qui seraient très chronophages si on traitait les images une par une.</p>
    </div>
</article>