<article class="media">
  <img class="media-figure" src="/img/dribbble.png" alt="Logo Dribbble">
  <div class="media-content">
    <h4><a href="https://dribbble.com/" hreflang="en">Dribbble</a></h4>
    <p>Une large communauté de designers y partagent leurs travaux.</p>
  </div>
</article>
<article class="media">
  <img class="media-figure" src="/img/landbook.jpeg" alt="Logo Land-book">
  <div class="media-content">
    <h4><a href="https://land-book.com/" hreflang="en">Land-book</a></h4>
    <p>Une galerie de sites web choisis, avec la possibilité de filtrer par type (landing page, portfolio, blog...).
    Très bien pour observer les tendances et trouver l’inspiration.</p>
  </div>
</article>
<article class="media">
  <img class="media-figure" src="/img/calltoidea.jpg" alt="Logo Calltoidea">
  <div class="media-content">
    <h4><a href="http://www.calltoidea.com/" hreflang="en">Call to idea</a></h4>
    <p>Une collection de design choisis et classés par composant : liste, galerie, navigation, login...
    Parfait pour comparer rapidement différentes manière de présenter les choses et trouver des idées.</p>
  </div>
</article>
