<h3>Articles</h3>

<article class="media">
    <img class="media-figure" src="/img/javascript.png" alt="Logo Javascript">
    <div class="media-content">
        <h4><a href="https://auth0.com/blog/a-brief-history-of-javascript/" hreflang="en">A Brief History of JavaScript</a></h4>
        <p>Tout est dans le titre.</p>
    </div>
</article>

<h3>Cours</h3>

<article class="media">
    <img class="media-figure" src="/img/javascript_info.png" alt="Logo javascript.info">
    <div class="media-content">
        <h4><a href="http://javascript.info/" hreflang="en">javascript.info</a></h4>
        <p>Un boulot incroyable. Un cours complet qui part des bases pour arriver aux usages avancés. Incontournable.</p>
    </div>
</article>

<article class="media">
    <img class="media-figure" src="/img/eloquent.png" alt="Couverture du livre Eloquent Javascript">
    <div class="media-content">
        <h4><a href="http://eloquentjavascript.net/" hreflang="en">Eloquent JavaScript</a></h4>
        <p>Un livre en ligne remarquablement bien écrit et très agréable à lire.</p>
    </div>
</article>

<article class="media">
    <img class="media-figure" src="/img/concise.png" alt="Capture d’écran Concise Javascript">
    <div class="media-content">
        <h4><a href="http://slides.com/concise/js#/" hreflang="en">Concise JavaScript</a></h4>
        <p>Un cours concis et efficace quand on connaît déjà un langage de programmation.</p>
    </div>
</article>
