<h3>Outils</h3>

<article class="media">
    <img class="media-figure" src="/img/w3c.png" alt="Logo W3C">
    <div class="media-content">
        <h4><a href="https://validator.w3.org/" hreflang="en">W3C Markup Validation Service</a></h4>
        <p>S’assurer que son code est valide est la première chose dont l’on doit s’assurer.</p>
    </div>
</article>

<article class="media">
    <img class="media-figure" src="/img/checklist.webp" alt="Logo Front-end checklist">
    <div class="media-content">
        <h4><a href="https://frontendchecklist.io/" hreflang="en">Front-end checklist</a></h4>
        <p>Un bon outil pour faire un contrôle technique de son projet avant de l’envoyer en production, mais également un bon outil d’apprentissage.</p>
    </div>
</article>

<article class="media">
    <img class="media-figure" src="/img/google.png" alt="Logo Google">
    <div class="media-content">
        <h4><a href="https://developers.google.com/speed/pagespeed/insights/" hreflang="en">PageSpeed Insights</a></h4>
        <p>Un outil Google pour analyser la vitesse de chargement. Le rapport affiche les pistes d’amélioration.</p>
    </div>
</article>
