<h3>Articles</h3>

<article class="media">
  <img class="media-figure" src="" alt="">
  <div class="media-content">
    <h4><a href="https://ia.net/topics/the-web-is-all-about-typography-period/" hreflang="en">Webdesign is 95% typography</a></h4>
    <small>Source :  || Langue : anglais</small>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, rerum.</p>
  </div>
</article>

<article class="media">
  <img class="media-figure" src="" alt="">
  <div class="media-content">
    <h4><a href="https://robinrendle.com/essays/futures-of-typography/" hreflang="en">The Futures of Typography</a></h4>
    <small>Source :  || Langue : anglais</small>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, rerum.</p>
  </div>
</article>

<article class="media">
  <img class="media-figure" src="" alt="">
  <div class="media-content">
    <h4><a href="http://pierrickcalvez.com/journal/a-five-minutes-guide-to-better-typography" hreflang="en">A Five Minutes Guide to Better Typography</a></h4>
    <small>Source :  || Langue : anglais</small>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, rerum.</p>
  </div>
</article>

<h3>Fournisseurs</h3>

<article class="media">
  <img class="media-figure" src="" alt="">
  <div class="media-content">
    <h4><a href="https://fonts.google.com" hreflang="en">Google Fonts</a></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, rerum.</p>
  </div>
</article>

<article class="media">
  <img class="media-figure" src="" alt="">
  <div class="media-content">
    <h4><a href="https://www.theleagueofmoveabletype.com/" hreflang="en">The League of Moveable Type</a></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, rerum.</p>
  </div>
</article>

<h3>Outils</h3>

<article class="media">
  <img class="media-figure" src="" alt="">
  <div class="media-content">
    <h4><a href="http://www.myfonts.com/WhatTheFont/" hreflang="en">What the Font</a></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, rerum.</p>
  </div>
</article>

<article class="media">
  <img class="media-figure" src="" alt="">
  <div class="media-content">
    <h4><a href="http://fontpair.co/" hreflang="en">Font Pair</a></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, rerum.</p>
  </div>
</article>
