<h3>Articles</h3>

<article class="media">
  <div class="media-content">
    <h4><a href="https://ia.net/topics/the-web-is-all-about-typography-period/" hreflang="en">Webdesign is 95% typography</a></h4>
    <small>Langue : anglais</small>
    <p>Un article écrit il y a une douzaine d’année mais qui reste en grande partie valable.
      On a tendance à le négliger, mais le Web c’est surtout du texte.</p>
  </div>
</article>

<article class="media">
  <div class="media-content">
    <h4><a href="https://robinrendle.com/essays/futures-of-typography/" hreflang="en">The Futures of Typography</a></h4>
    <small>Langue : anglais</small>
    <p>La typographie a une longue histoire mais elle a aussi de beaux jours devant elle.</p>
  </div>
</article>

<article class="media">
  <div class="media-content">
    <h4><a href="http://pierrickcalvez.com/journal/a-five-minutes-guide-to-better-typography" hreflang="en">A Five Minutes Guide to Better Typography</a></h4>
    <small>Langue : anglais</small>
    <p>Une superbe page qui tient sa promesse. Ces 5 minutes valent le détour.</p>
  </div>
</article>

<h3>Fournisseurs</h3>

<article class="media">
  <img class="media-figure" src="/img/googlefonts.png" alt="Logo Google Fonts">
  <div class="media-content">
    <h4><a href="https://fonts.google.com" hreflang="en">Google Fonts</a></h4>
    <p>Près de 850 polices de caractères accessibles gratuitement et affichables dans tous les navigateurs.
     Pourquoi se priver ?</p>
  </div>
</article>

<article class="media">
  <img class="media-figure" src="/img/theleague.svg" alt="Logo The League of Moveable Type">
  <div class="media-content">
    <h4><a href="https://www.theleagueofmoveabletype.com/" hreflang="en">The League of Moveable Type</a></h4>
    <p>Peu de polices, mais toutes libres et de qualité. Un choix intéressant pour faire la différence.</p>
  </div>
</article>

<h3>Outils</h3>

<article class="media">
  <img class="media-figure" src="/img/myfonts.png" alt="Logo My Fonts">
  <div class="media-content">
    <h4><a href="http://www.myfonts.com/WhatTheFont/" hreflang="en">What the Font</a></h4>
    <p>Un outil en ligne pour identifier une police à partir d’une image.</p>
  </div>
</article>

<article class="media">
  <img class="media-figure" src="/img/fontpair.png" alt="Logo Font Pair">
  <div class="media-content">
    <h4><a href="http://fontpair.co/" hreflang="en">Font Pair</a></h4>
    <p>Des associations de polices Google Fonts.</p>
  </div>
</article>

<article class="media">
  <img class="media-figure" src="/img/fontjoy.png" alt="Capture d’écran Fontjoy">
  <div class="media-content">
    <h4><a href="http://fontjoy.com/" hreflang="en">Fontjoy</a></h4>
    <p>Un générateur d’associations de polices Google Fonts.</p>
  </div>
</article>
