<header>
  <h1>À propos de ce site</h1>
</header>
<p>Ce site a été réalisé dans le cadre de la formation <a href="http://www.cnam-paca.fr/nos-formations/webmestre-developpement-sites-web">Programmation de sites web</a> du <abbr title="Conservatoire national des Arts et Métiers">CNAM</abbr> <abbr title="Provence-Alpes-Côte d&rsquo;Azur">PACA</abbr>.</p>
<p>Une attention particulière a été portée à la sémantique et à l’accessibilité.</p>
<p>Les articles ont été rédigés pour l’occasion, directement en <abbr title="Hypertext Markup Language">HTML</abbr>, avec <a href="https://pugjs.org/api/getting-started.html">Pug</a> et <a href="https://gulpjs.com/">Gulp</a> en guise de <abbr title="Content Management Système">CMS</abbr>.</p>
<p>La page <a href="/ressources.html">Ressources</a> est une collection d’articles et outils utiles pour apprendre et pratiquer le développement web.</p>
<p>Un framework <abbr title="Cascading Style Sheets">CSS</abbr> a été développé pour l’occasion avec <a href="http://stylus-lang.com/">Stylus</a>. Le code source de BASICSS est disponible sur <a href="https://github.com/basicss/basicss">Github</a>.</p>
<p>Pour les polices, ce site prend le parti de se reposer sur le <a href="https://css-tricks.com/snippets/css/system-font-stack/">System Font Stack</a>.</p>
<p>Les illustrations ont été réalisées avec <a href="https://www.sketchapp.com/">Sketch</a>.</p>
<p>Le site est hébergé sur <a href="https://pages.github.com/">Github Pages</a>, et l’ensemble du code est consultable sur <a href="https://github.com/bastosh/nfa016">Github</a>.</p>
<p>Une attention toute particulière a été portée aux apostrophes.</p>
