<h1>Me contacter</h1>
<div class="card center bg-washed-red padding">Ce formulaire n’est pas fonctionnel !</div>
<form method="post" action="contact.html">
    <label for="firstname">Prénom</label>
    <input id="firstname" type="text">
    <label for="email">E-mail</label>
    <input id="email" type="email" aria-describedby="emailHelp" class="mb0" required>
    <small id="emailHelp" class="tiny text-muted">Votre adresse e-mail ne sera pas utilisée à des fins commerciales.</small>
    <label for="object" class="mt-md">Objet</label>
    <input id="object" type="text">
    <label for="message">Message</label>
    <textarea id="message" required></textarea>
    <input class="btn primary" type="submit" value="Envoyer" disabled>
</form>
