<header>
  <h1 id="typed">Je suis <span class="typed"></span><noscript>Sébastien Pereda</noscript></h1>
</header>
<main class="index">
  <div>
      <p>Après avoir exercé plusieurs métiers dans le monde du livre et de l’imprimé, j’ai choisi de me réorienter dans le monde du web. Une façon de rester à la page tout en la tournant.</p>
      <p>Mon expérience dans l’édition, la relecture-correction et la communication vous garantissent un contenu de grande qualité, sur le fond (grammaire, orthographe, niveau de langue, pertinence) comme sur la forme (typographie, mise en page).</p>
      <p>Ma formation aux tout derniers standards du web vous assure d’un code optimisé, pour des sites web rapides, accessibles et bien référencés.</p>
  </div>
  <img src="img/bastoche.svg" alt="illustration" id=#seb>
</main>
