<!-- TODO // remplir alt et fournir lien vers les projets -->

<h1>Portfolio</h1>
<section class="fluid-grid-250 gutter-lg">
    <h2 class="col-all">Projets web</h2>
    <h3 class="card-title">Laverie Saint-Roch</h3>
    <div class="card">
        <header>
            <div class="card-image">
                <a href="/img/laverie.png">
                    <figure class="image">
                        <img src="/img/laverie_thumb.png" alt="">
                    </figure>
                </a>
            </div>
        </header>
        <div class="card-content">
            <p class="mt">Site vitrine pour une laverie automatique à Mont-de-Marsan.</p>
            <p><small>HTML || CSS || JavaScript</small></p>
        </div>
    </div>
    <h3 class="card-title">Tournois bienveillants</h3>
    <div class="card">
        <header>
            <div class="card-image">
                <a href="/img/tournois.png">
                    <figure class="image">
                        <img src="/img/tournois_thumb.png" alt="">
                    </figure>
                </a>
            </div>
        </header>
        <div class="card-content">
            <p class="mt">Site de gestion de tournois. Refonte Symfony 4 en cours.</p>
            <p><small>HTML || CSS || JavaScript</small></p>
        </div>
    </div>
    <h3 class="card-title">Blog photo</h3>
    <div class="card">
        <header>
            <div class="card-image">
                <a href="/img/blog-photo.png">
                    <figure class="image">
                        <img src="/img/blog-photo_thumb.png" alt="">
                    </figure>
                </a>
            </div>
        </header>
        <div class="card-content">
            <p class="mt">Projet personnel</p>
            <p><small>Wordpress</small></p>
        </div>
    </div>
    <h3 class="card-title">Billetterie</h3>
    <div class="card">
        <header>
            <div class="card-image">
                <a href="/img/louvre.png">
                    <figure class="image">
                        <img src="/img/louvre_thumb.png" alt="">
                    </figure>
                </a>
            </div>
        </header>
        <div class="card-content">
            <p class="mt">Projet dans le cadre de la formation Chef de projet multimédia OpenClassrooms.</p>
            <p><small>PHP || Symfony 3 || Stripe</small></p>
        </div>
    </div>
    <h3 class="card-title">Nos amis les oiseaux</h3>
    <div class="card">
        <header>
            <div class="card-image">
                <a href="/img/nalo.png">
                    <figure class="image">
                        <img src="/img/nalo_thumb.png" alt="">
                    </figure>
                </a>
            </div>
        </header>
        <div class="card-content">
            <p class="mt">Projet dans le cadre de la formation Chef de projet multimédia OpenClassrooms.</p>
            <p><small>PHP || Symfony 3 || Bootstrap</small></p>
        </div>
    </div>
</section>
<section class="fluid-grid-250 gutter-lg">
    <h2 class="col-all">Projets CSS</h2>
    <h3 class="card-title">ELASTICSS</h3>
    <div class="card">
        <header>
            <div class="card-image">
                <a href="/img/elastic.png">
                    <figure class="image">
                        <img src="/img/elastic_thumb.png" alt="">
                    </figure>
                </a>
            </div>
        </header>
        <div class="card-content">
            <p class="mt">Framework CSS</p>
            <p><small>Gulp || Stylus || Pug</small></p>
        </div>
    </div>
    <h3 class="card-title">BASICSS</h3>
    <div class="card">
        <header>
            <div class="card-image">
                <a href="/img/basic.png">
                    <figure class="image">
                        <img src="/img/basic_thumb.png" alt="">
                    </figure>
                </a>
            </div>
        </header>
        <div class="card-content">
            <p class="mt">Framework CSS</p>
            <p><small>Gulp || Stylus || Pug</small></p>
        </div>
    </div>
</section>
<section class="fluid-grid-250 gutter-lg">
    <h2 class="col-all">Autres projets</h2>
    <h3 class="card-title">Atom Package</h3>
    <div class="card">
        <header>
            <div class="card-image">
                <a href="/img/pseudo.png">
                    <figure class="image">
                        <img src="/img/pseudo_thumb.png" alt="">
                    </figure>
                </a>
            </div>
        </header>
        <div class="card-content">
            <p class="mt">Coloration syntaxique du pseudo-code pour l’éditeur Atom.</p>
        </div>
    </div>
</section>