/********
=Colors=
********/
.white, .is-white, .has-text-white
  color white
.yellow, .is-yellow, .has-text-yellow
  color yellow
.gold, .is-gold, .has-text-gold
  color gold
.orange, .is-orange, .has-text-orange
  color orange
.light-red, .is-light-red, .has-text-light-red
  color light-red
.red, .is-red, .has-text-red
  color red
.dark-red, .is-dark-red, .has-text-dark-red
  color dark-red
.light-green, .is-light-green, .has-text-light-green
  color light-green
.green, .is-green, .has-text-green
  color green
.dark-green, .is-dark-green, .has-text-dark-green
  color dark-green
.light-blue, .is-light-blue, .has-text-light-blue
  color light-blue
.blue, .is-blue, .has-text-blue
  color blue
.dark-blue, .is-dark-blue, .has-text-dark-blue
  color dark-blue
.light-purple, .is-light-purple, .has-text-light-purple
  color light-purple
.purple, .is-purple, .has-text-purple
  color purple
.dark-purple, .is-dark-purple, .has-text-dark-purple
  color dark-purple
.dark-pink, .is-dark-pink, .has-text-dark-pink
  color dark-pink
.hot-pink, .is-hot-pink, .has-text-hot-pink
  color hot-pink
.pink, .is-pink, .has-text-pink
  color pink
.light-pink, .is-light-pink, .has-text-light-pink
  color light-pink
.washed-blue, .is-washed-blue, .has-text-washed-blue
  color washed-blue
.washed-green, .is-washed-green, .has-text-washed-green
  color washed-green
.washed-yellow, .is-washed-yellow, .has-text-washed-yellow
  color washed-yellow
.washed-red, .is-washed-red, .has-text-washed-red
  color washed-red

.bg-primary, .has-bg-primary
  background-color primary
.bg-dark, .has-bg-dark
  background-color gray-90
.bg-yellow, .has-bg-yellow
  background-color yellow
.bg-gold, .has-bg-gold
  background-color gold
.bg-orange, .has-bg-orange
  background-color orange
.bg-light-red, .has-bg-light-red
  background-color light-red
.bg-red, .has-bg-red
  background-color red
.bg-dark-red, .has-bg-dark-red
  background-color dark-red
.bg-light-green, .has-bg-light-green
  background-color light-green
.bg-green, .has-bg-green
  background-color green
.bg-dark-green, .has-bg-dark-green
  background-color dark-green
.bg-light-blue, .has-bg-light-blue
  background-color light-blue
.bg-blue, .has-bg-blue
  background-color blue
.bg-dark-blue, .has-bg-dark-blue
  background-color dark-blue
.bg-light-purple, .has-bg-light-purple
  background-color light-purple
.bg-purple, .has-bg-purple
  background-color purple
.bg-dark-purple, .has-bg-dark-purple
  background-color dark-purple
.bg-dark-pink, .has-bg-dark-pink
  background-color dark-pink
.bg-hot-pink, .has-bg-hot-pink
  background-color hot-pink
.bg-pink, .has-bg-pink
  background-color pink
.bg-light-pink, .has-bg-light-pink
  background-color light-pink
.bg-washed-blue, .has-bg-washed-blue
  background-color washed-blue
.bg-washed-green, .has-bg-washed-green
  background-color washed-green
.bg-washed-yellow, .has-bg-washed-yellow
  background-color washed-yellow
.bg-washed-red, .has-bg-washed-red
  background-color washed-red