/********
=Spacing=
********/

.spacer, .margin, .has-margin
  margin 1rem

.spacer-lg, .margin-lg, .has-margin-lg
  margin 2rem

.spacer-xl, .margin-xl, .has-margin-xl
  margin 4rem

.spacer-xxl, .margin-xxl, .has-margin-xxl
  margin 8rem

.m0, .no-margin, is-marginless
  margin 0

.mx, .has-margin-horizontal
  margin-left 1rem
  margin-right 1rem

.mx-lg, .has-margin-horizontal-lg, .has-large-margin-horizontal
  margin-left 2rem
  margin-right 2rem

.my, .has-margin-vertical
  margin-top 1rem
  margin-bottom 1rem

.my-lg, .has-margin-vertical-lg, .has-large-margin-vertical
  margin-top 2rem
  margin-bottom 2rem

.mt0, no-margin-top, has-no-margin-top
  margin-top 0

.mt-sm, .has-margin-top-sm, .has-small-margin-top
  margin-top .5rem

.mt-md, .has-margin-top-md, .has-medium-margin-top
  margin-top .75rem

.mt, .has-margin-top
  margin-top 1rem

.mt-lg, .has-margin-top-lg, .has-large-margin-top
  margin-top 2rem

.mb0, .no-margin-bottom
  margin-bottom 0!important

.mb-sm, .has-margin-bottom-sm, .has-small-margin-bottom
  margin-bottom .5rem

.mb, .has-margin-bottom
  margin-bottom 1rem

.mb-lg, .has-margin-bottom-lg, .has-large-margin-bottom
  margin-bottom 2rem

.mr0, .no-margin-right, .has-no-margin-right
  margin-right 0

.mr-sm, .has-margin-right-sm, .has-small-margin-right
  margin-right .5rem

.mr, .has-margin-right
  margin-right 1rem

.mr-lg, .has-margin-right-lg, .has-large-margin-right
  margin-right 2rem

.ml0, .no-margin-left
  margin-left 0

.ml-sm, .has-small-margin-left, .has-margin-left-sm
  margin-left .5rem

.ml, .has-margin-left
  margin-left 1rem

.ml-lg, .has-large-margin-left, .has-margin-left-lg
  margin-left 2rem

.padding, .has-padding
  padding 1rem

.padding-lg, .has-padding-lg
  padding 2rem

.padding-xl, .has-padding-xl
  padding 4rem

.padding-xxl, .has-padding-xxl
  padding 8rem

.p0, .no-padding, is-paddingless
  padding 0

.px, .has-padding-vertical
  padding-left 1rem
  padding-right 1rem

.px-lg, .has-padding-vertical-lg
  padding-left 4rem
  padding-right 4rem

.py, .has-padding-horizontal
  padding-top 1rem
  padding-bottom 1rem

.py-lg, .has-padding-horizontal-lg
  padding-top 2rem
  padding-bottom 2rem

.pt0, .no-padding-top
  padding-top 0

.pt-sm
  padding-top .5rem

.pt, .has-padding-top
  padding-top 1rem

.pt-lg
  padding-top 2rem

.pb0, .no-padding-bottom
  padding-bottom 0

.pb-sm
  padding-bottom .5rem

.pb, .has-padding-bottom
  padding-bottom 1rem

.pb-lg
  padding-bottom 2rem

.pr0, .no-padding-right
  padding-right 0

.pr-sm
  padding-right .5rem

.pr, .has-padding-right
  padding-right 1rem

.pr-lg
  padding-right 2rem

.pl0, .no-padding-left
  padding-left 0

.pl-sm
  padding-left .5rem

.pl, .has-padding-left
  padding-left 1rem

.pl-lg
  padding-left 2rem

.w-200
  max-width 200px
  margin 0 auto

.w-250
  max-width 250px
  margin 0 auto

.w-300
  max-width 300px
  margin 0 auto