/***********
=Typography=
************/

/* Sizes */
.display1
  font-size display1-font-size
  font-weight font-weight-book
  line-height headings-line-height
.display2
  font-size display2-font-size
  font-weight font-weight-book
  line-height headings-line-height
.display3
  font-size display3-font-size
  font-weight font-weight-book
  line-height headings-line-height
.display4
  font-size display4-font-size
  font-weight font-weight-book
  line-height headings-line-height

.h1, .is-h1
  font-size h1-font-size
  line-height headings-line-height
.h2, .is-h2
  font-size h2-font-size
  line-height headings-line-height
.h3, .is-h3
  font-size h3-font-size
  line-height headings-line-height
.h4, .is-h4
  font-size h4-font-size
  line-height headings-line-height
.h5, .is-h5
  font-size h5-font-size
  line-height headings-line-height
.h6, .is-h6
  font-size h6-font-size
  line-height headings-line-height

.tiny, .is-tiny
  font-size .8em

.small, .is-small
  font-size .9em

.big, .is-big
  font-size 2em

.huge, .is-huge
  font-size 3em

/* Weight */
.thin, .is-thin
  font-weight font-weight-thin
.light, .is-light
  font-weight font-weight-light
.book, .is-book
  font-weight font-weight-book
.regular, .is-regular
  font-weight font-weight-regular
.medium, .is-medium
  font-weight font-weight-medium
.semibold, .is-semibold
  font-weight font-weight-semibold
.bold, .is-bold
  font-weight font-weight-bold
.bolder, .is-bolder
  font-weight font-weight-black
.ultra, .is-ultra
  font-weight font-weight-ultra

/* Line-height */
.compact, .is-compact
  line-height line-height-tiny

/* Letter-spacing */
.letter-spacing-sm
  letter-spacing -.05em
.letter-spacing
  letter-spacing .1em
.letter-spacing-lg
  letter-spacing .2em
.letter-spacing-xl
  letter-spacing .25em

/* Style */
.italic, .is-italic
  font-style italic
.underline, .is-underlined
  text-decoration underline
.line-through
  text-decoration line-through
.capitalize, .is-capitalized
  text-transform capitalize
.uppercase, .is-uppercased
  text-transform uppercase
.small-caps
  font-variant: small-caps

.muted, .text-muted, .is-muted
  color gray-60

/* Width */
.small-text-container
  max-width 20em
.text-container
  max-width 30em
.large-text-container
  max-width 40em

/* Paragraph */
.indent, .is-indented
  text-indent 1em
  margin-top 0
  margin-bottom 0

/* Text-align */
.left, .text-left, .is-left-aligned
  text-align left
.right, .text-left, .is-right-aligned
  text-align right
.center, .text-center, .is-centered, .has-text-centered
  text-align center
.justify, .justified, .is-justified, .has-text-justified
  text-align justify
  hyphens auto