<nav>
  <ul>
    <li class="active"><a href="/pages/about.html">À&nbsp;propos</a></li>
    <li><a href="/pages/blog.html">Articles</a></li>
    <li><a href="/pages/ressources.html">Ressources</a></li>
  </ul>
  <a id="logo" href="/index.html"><img src="/img/logo.svg" alt="logo avatar Sébastien Pereda"></a>
  <ul>
    <li><a href="/pages/portfolio.html">Portfolio</a></li>
    <li><a href="/pages/cv.html">Curriculum</a></li>
    <li><a href="/pages/contact.html">Contact</a></li>
  </ul>
  <button class="nav-button" type="button" aria-label="open/close navigation"><i></i></button>
</nav>
