<aside id="social">
	<ul>
	    <li><a href="https://fr.linkedin.com/in/sébastien-pereda-ab4165a2" title="LinkedIn"><img src="img/LinkedIn-black.svg" alt=""></a></li>
	    <li><a href="#" title="Viadeo"><img src="img/Viadeo-black.svg" alt=""></a></li>
	    <li><a href="#" title="GooglePlus"><img src="img/GooglePlus-black.svg" alt=""></a></li>
	    <li><a href="https://twitter.com/S_Pereda" title="Twitter"><img src="img/Twitter-black.svg" alt=""></a></li>
	    <li><a href="https://github.com/bastosh" title="Github"><img src="img/Github-black.svg" alt=""></a></li>
	    <li><a href="#" title="Codepen"><img src="img/Codepen-black.svg" alt=""></a></li>
	    <li><a href="#" title="Skype"><img src="img/Skype-black.svg" alt=""></a></li>
	    <li><a href="#" title="Feedly"><img src="img/Feedly-black.svg" alt=""></a></li>
  </ul>
</aside>

<aside id="pdf">
	<ul>
  	<li><a href="cv.pdf">Télécharger au format PDF (237ko)</a></li>
  </ul>
</aside>

<img src="img/seb.svg" alt="Sébastien Pereda">
<h1>Sébastien Pereda</h1>
<p>Après avoir exercé plusieurs métiers dans le monde du livre et de l’imprimé, j’ai choisi de me réorienter dans le monde du web. Une façon de tourner la page tout en restant à la <em>page</em>.</p>
<p>Mon expérience dans l’édition, la relecture-correction et la communication vous garantissent un contenu de grande qualité, sur le fond (grammaire, orthographe, niveau de langue, pertinence) comme sur la forme (typographie, mise en page).</p>
<p>Ma formation aux tout derniers standards du web vous assure d’un code optimisé, pour <strong>des sites web rapides, accessibles et bien référencés</strong>.</p>
