<section>
  <h3>Centre social Les Oliviers</h3>
  <aside>
    <p>Chargé de communication</p>
    <p>depuis juillet 2017</p>
  </aside>
  <aside>
    <p>Saint-Martin-de-Crau (13)</p>
  </aside>
  <p>Communication externe et interne, imprimée et numérique.</p>
  <ul>
    <li>Refonte et animation du site web</li>
    <li>Création et animation d’une page Facebook</li>
    <li>Création et impression d’affiches, flyers, panneaux</li>
    <li>Mise en place d’un livret d’accueil</li>
    <li>Mise en place d’une newsletter interne</li>
    <li>Formation des salariés à l’outil de gestion des congés</li>
    <li>Gestion des photos</li>
  </ul>
</section>

<section>
  <h3>Traducteur indépendant</h3>
  <aside>
    <p>Traducteur-relecteur</p>
    <p>2014&thinsp;&ndash;&thinsp;2017</p>
  </aside>
  <aside>
    <p>À domicile</p>
  </aside>
  <p>Relecture et traduction.</p>
  <ul>
    <li>MAGE Company (12 Realms&thinsp;: Dungeonland)</li>
    <li>Steamforged (Guild Ball saison 2, Guild Ball saison 3)</li>
    <li>Filosofia (Mice and Mystics, Camel Up, Pandémie, Terres d’Arle)</li>
  </ul>
</section>

<section>
  <h3>Relecteur-correcteur</h3>
  <aside>
    <p>Plato Magazine</p>
    <p>2014&thinsp;&ndash;&thinsp;2015</p>
  </aside>
  <aside>
    <p>À domicile</p>
  </aside>
  <p>Relecture et correction mensuelle des articles.</p>
</section>

<section>
  <h3>La Martinière Groupe</h3>
  <aside>
    <p>Chargé de <abbr title="Publicité sur le lieu de vente">PLV</abbr></p>
    <p>2010&thinsp;&ndash;&thinsp;2015</p>
  </aside>
  <aside>
    <p>Paris</p>
  </aside>
  <p>Responsable de la fabrication du matériel promotionnel.</p>
  <ul>
    <li>Établissement des plannings</li>
    <li>Demandes de devis</li>
    <li>Suivi de fabrication</li>
    <li>Validation des fichiers</li>
    <li>Relation fournisseurs</li>
  </ul>
</section>

<section>
  <h3>Librairie La Martinière&thinsp;&ndash;&thinsp;Le Seuil</h3>
  <aside>
    <p>Libraire</p>
    <p>2008&thinsp;&ndash;&thinsp;2010</p>
  </aside>
  <aside>
    <p>Paris</p>
  </aside>
  <p>Vente et conseil.</p>
</section>

<section>
  <h3>Éditions Arléa</h3>
  <aside>
    <p>Assistant d'édition</p>
    <p>2007</p>
  </aside>
  <aside>
    <p>Paris</p>
  </aside>
  <ul>
    <li>Correction</li>
    <li>Traduction</li>
    <li>Mise en pages</li>
    <li>Recherche iconographique</li>
  </ul>
</section>

<section>
  <h3><abbr title="Centre interprofessionnel de formation d’apprentis">CIFA</abbr> de l’Yonne</h3>
  <aside>
    <p>Professeur de français et documentaliste</p>
    <p>2005</p>
  </aside>
  <aside>
    <p>Auxerre</p>
  </aside>
  <p>Cours de français et gestion du centre de documentation</p>
</section>
