<section>
  <h3>Programmation de sites web (en cours)</h3>
  <p><abbr title="Conservatoire national des Arts et Métiers">CNAM</abbr> <abbr title="Provence-Alpes-Côte d&rsquo;Azur">PACA</abbr></p>
  <p>depuis septembre 2017</p>
</section>

<section>
  <h3><abbr title="Diplôme universitaire de technologie">DUT</abbr> Métiers du livre</h3>
  <p><abbr title="Institut universitaire de technologie">IUT</abbr> de Saint-Cloud</p>
  <p>2006&thinsp;&ndash;&thinsp;2007</p>
</section>

<section>
  <h3>Licence de Lettres classiques</h3>
  <p>Université de Toulouse-le-Mirail</p>
  <p>2000&thinsp;&ndash;&thinsp;2001</p>
</section>
