<h3>Compétences web</h3>
<small>D’après les <a href="https://mozilla.github.io/content/web-lit-whitepaper/" hreflang="en"><span lang="en">Web Literacy Skills</span></a> de Mozilla</small>

<p>// TODO : Faire le tri et traduire</p>

<h4>Lire</h4>
<p>Trouver efficacement des personnes, des ressources ou des informations et analyser la crédibilité des sources.</p>
<ul>
  <li>Rechercher
    <ul>
      <li>Using and revising keywords to make web searches to find information more efficiently</li>
      <li>Discover information on a given topic spread across a website</li>
      <li>Detecting information in a website using the internal search engine</li>
      <li>Evaluating questions and search keywords while considering the purpose of search and obtained results</li>
      <li>Finding real-time or time-sensitive information using a range of search techniques</li>
    </ul>
  </li>
  <li>Naviguer
    <ul>
      <li>Accessing the web using the common features of a web service</li>
      <li>Using hyperlinks to access a range of resources on the web</li>
      <li>Reading, evaluating, and manipulating URLs (addresses on the web)</li>
      <li>Recognizing the common visual cues in various web services</li>
      <li>Exploring add-ons and extensions to provide additional functionality to web services</li>
    </ul>
  </li>
  <li>Synthétiser
    <ul>
      <li>Coalescing information shared on one webpage to make meaning</li>
      <li>Incorporating information shared across two pages on one website to make meaning</li>
      <li>Combining information shared across pages on two or more websites to make meaning</li>
      <li>Integrating information of multiple modes across multiple websites to help solve a problem</li>
    </ul>
  </li>
  <li>Évaluer
    <ul>
      <li>Comparing and contrasting information from a number of sources</li>
      <li>Making judgments about the “usefulness” or relevance of a web source based on the content presented</li>
      <li>Making judgments about the “truthfulness” or credibility of a web source based on the content presented</li>
      <li>Identifying and investigating the author or publisher of web resources</li>
      <li>Evaluating how purpose and perspectives shape web resources</li>
    </ul>
  </li>
</ul>

<h4>Écrire</h4>
<p>Produire un contenu de qualité, adapté, accessible, dans le respect des standards.</p>
<ul>
  <li>Concevoir
    <ul>
      <li>Organizing visual aesthetics and user experiences by using mockups, wireframes or pencil sketches/maps of digital content to be built</li>
      <li>Arranging digital content visually to provide audience with cues for organization of the content</li>
      <li>Communicating the purpose of the presentation using text, multimedia, links, and other content for readers</li>
      <li>Using a visual schematic (e.g., graph, site map) to organize the structure and content of digital work to communicate the purpose and content to the audience</li>
      <li>Obtaining feedback from users and peers to evolve thinking and draft mockups/sketches of digital content</li>
    </ul>
  </li>
  <li>Composer
    <ul>
      <li>Curating digital content and organizing it into a system for building and sharing</li>
      <li>Organizing information, digital content, and hyperlinks to add to a webpage or online space</li>
      <li>Embedding multimedia, hyperlinks, and digital content on a web page</li>
      <li>Creating web resources in ways appropriate to the medium/genre</li>
      <li>Setting up and controlling a space to publish on the web</li>
      <li>Using appropriate permissions and licenses</li>
    </ul>
  </li>
  <li>Coder
    <ul>
      <li>Implementing models to think computationally while problem-solving</li>
      <li>Developing and modifying algorithms to use while building and finding information</li>
      <li>Identifying and applying common coding patterns and algorithms to help you problem solve</li>
      <li>Understanding the development and use of tools for problem-solving</li>
      <li>Developing materials for broader use by incorporating lessons learned and problem-solving</li>
    </ul>
  </li>
  <li>Réviser
    <ul>
      <li>Systematically reviewing digital content for the purpose or intention of improving content created</li>
      <li>Evaluating the work flow and product to ensure that it relates to the task or purpose of the work</li>
      <li>Incrementally adding or removing individual components (i.e., text, audio, image, video) in digital work</li>
      <li>Incrementally repositioning individual components (i.e., text, audio, image, video) while revising digital work</li>
      <li>Incorporating new data and user feedback into revisions and future iterations of work</li>
    </ul>
  </li>
  <li>Réutiliser
    <ul>
      <li>Identifying openly-licensed work that can be used for remix</li>
      <li>Obtaining and using openly-licensed work that can be used for remix</li>
      <li>Modifying openly-licensed work for the purposes of creation, commentary, or critique</li>
      <li>Shifting content and meaning by adapting original content</li>
      <li>Creating and sharing a completely new piece of work while citing and referencing original content</li>
    </ul>
  </li>
</ul>

<h4>Participer</h4>
<ul>
  <li>Partager
    <ul>
      <li>Creating and using a system to distribute web resources to others</li>
      <li>Contributing and finding content for the benefit of others</li>
      <li>Creating, curating, and circulating web resources to elicit peer feedback</li>
      <li>Understanding the needs of audiences in order to make relevant contributions to a community</li>
      <li>Identifying when it is safe to contribute content in a variety of situations on the web</li>
    </ul>
  </li>
  <li>Contribuer
    <ul>
      <li>Choosing a web tool in order to collaborate with others</li>
      <li>Co-creating web resources and content with peers</li>
      <li>Configuring notifications to keep up-to-date with community spaces and interactions</li>
      <li>Working towards a shared goal using synchronous (communicating in real time) and asynchronous (time lag in communication exchange) tools</li>
      <li>Developing and communicating a set of shared expectations and outcomes</li>
    </ul>
  </li>
  <li>Connecter
    <ul>
      <li>Engaging with online communities at varying levels of activity</li>
      <li>Understanding and respecting community behaviors when expressing opinions in online discussions</li>
      <li>Making sense of different terminology and conventions used within online communities</li>
      <li>Participating in both synchronous (communicating in real time) and asynchronous (time lag in communication exchanges) discussions</li>
      <li>Discovering information and resources by asking people within social networks</li>
    </ul>
  </li>
  <li>Protéger
    <ul>
      <li>Examining and understanding the consequences of sharing data online</li>
      <li>Identifying rights retained and removed through user agreements</li>
      <li>Explaining ways in which computer criminals were able to gain access to user information</li>
      <li>Changing personal online behaviors (e.g., encrypting traffic, using add-ons/extensions) to make web browsing more secure</li>
      <li>Using unique passwords to secure online accounts and digital tools</li>
    </ul>
  </li>
  <li>Utiliser et contribuer à l’<span lang="en">open source</span>
    <ul>
      <li>Distinguishing between open and closed licensing</li>
      <li>Contributing web resources using the appropriate licensing to give others credit</li>
      <li>Making web resources available under an open license</li>
      <li>Advocating for the web as an open and public resource</li>
    </ul>
  </li>
</ul>

<!--
<h4>Explorer</h4>
<p>Lire le Web</p>

<h5>Navigation</h5>
<p>Utiliser des outils logiciels pour naviguer sur le Web</p>
<ul>
  <li>Accéder au web en utilisant les fonctions courantes des navigateurs</li>
  <li>Utiliser des hyperliens pour accéder à diverses ressources en ligne</li>
  <li>Lire, évaluer et manipuler des adresses URL</li>
  <li>Reconnaître les signaux visuels des services web de tous les jours</li>
  <li>Utiliser des extensions du navigateur pour profiter de fonctionnalités supplémentaires</li>
</ul>

<h5>Mécanique Web</h5>
<p>Comprendre l’écosystème Web</p>
<ul>
  <li>Utiliser et comprendre les différences entre les adresses URL, les adresses IP et les termes de recherche</li>
  <li>Organiser des informations provenant de sources en ligne variées</li>
  <li>Décrire la différence entre les résultats de différentes stratégies de recherche</li>
</ul>

<h5>Recherche</h5>
<p>Trouver de l’information, des personnes et des ressources via le Web</p>
<ul>
  <li>Utiliser des mots-clés, des opérateurs de recherche et des raccourcis clavier pour rechercher sur le web plus efficacement</li>
  <li>Trouver des informations en temps réel ou urgentes à l’aide d’une série de techniques de recherche</li>
  <li>Identifier ou trouver l’information souhaitée dans des résultats de recherche</li>
  <li>Synthétiser les informations provenant de ressources en ligne trouvées lors de multiples recherches</li>
</ul>

<h5>Crédibilité</h5>
<p>L’évaluation critique de l’information trouvée sur le Web</p>
<ul>
  <li>Juger de la crédibilité d’une information en se basant sur des critères techniques et de design</li>
  <li>Identifier les auteurs et les propriétaires des sites web et de leur contenu</li>
  <li>Recouper les informations de plusieurs sources pour juger si un contenu est digne de confiance</li>
  <li>Faire la différence entre du contenu original et du contenu dérivé</li>
</ul>

<h5>Sécurité</h5>
<p>Garder les systèmes, identités et le contenu sécurisés</p>
<ul>
  <li>Détecter les escroqueries et l’hameçonnage en ligne en utilisant des outils et des techniques reconnues</li>
  <li>Chiffrer des données et des communications en utilisant des logiciels et des extensions</li>
  <li>Modifier le comportement par défaut des sites et des extensions pour naviguer de manière plus sécurisée</li>
</ul>

<h4>Construire</h4>
<p>Écrire le Web</p>

<h5>Composer pour le Web</h5>
<p>Créer et composer du contenu pour le Web</p>
<ul>
  <li>Insérer des hyperliens dans une page web</li>
  <li>Embarquer du contenu multimédia dans une page web</li>
  <li>Créer des ressources web adaptées au médium/genre</li>
  <li>Identifier et utiliser les balises HTML</li>
  <li>Structurer une page web</li>
</ul>

<h5>Remixer</h5>
<p>Modifier des ressources existantes sur le Web pour en créer quelque chose de nouveau</p>
<ul>
  <li>Identifier et utiliser des œuvres sous licence libre</li>
  <li>Associer plusieurs ressources multimédia</li>
  <li>Créer quelque chose d’inédit sur le Web en utilisant des ressources existantes</li>
</ul>

<h5>Design et accessibilité</h5>
<p>Créer des communications effectives universelles à travers des ressources Web</p>
<ul>
  <li>Identifier les différentes composantes d’une page web en utilisant les termes reconnus dans l’industrie</li>
  <li>Améliorer l’accessibilité d’une page web en modifiant sa palette de couleurs et son balisage</li>
  <li>Proposer des variations d’un design d’après les retours d’utilisateurs cibles</li>
  <li>Réorganiser la structure d’une page web pour améliorer son flux hiérarchique&thinsp;/&thinsp;conceptuel</li>
  <li>Décrire la différence entre CSS en ligne, interne et externe</li>
  <li>Utiliser des déclarations CSS pour changer le style et la mise en page d’une page web</li>
</ul>

<h5>Coder et scénariser</h5>
<p>Créer des expériences interactives sur le Web</p>
<ul>
  <li>Expliquer les différences entre programmation côté client et côté serveur</li>
  <li>Construire des boucles et des tableaux fonctionnels</li>
  <li>Lire et décrire la structure d’un code</li>
  <li>Utiliser un framework de script</li>
  <li>Ajouter des commentaires dans le code pour clarifier et créditer</li>
</ul>

<h5>Infrastructure</h5>
<p>Comprendre Internet</p>
<ul>
  <li>Comprendre et nommer les couches qui composent le web</li>
  <li>Expliquer les différences entre le web et Internet</li>
  <li>Exporter et faire des sauvegardes de vos données depuis des services web</li>
  <li>Déménager vos données en ligne d’un hébergement à un autre</li>
  <li>Protéger vos données des logiciels malveillants et des pirates informatiques</li>
</ul>

<h4>Connecter</h4>
<p>Participer au Web</p>

<h5>Partager</h5>
<p>Créer des ressources Web avec les autres</p>
<ul>
  <li>Partager une ressource avec un outil et un format adaptés aux destinataires</li>
  <li>Suivre les modifications des ressources web créées à plusieurs</li>
  <li>Utiliser des outils synchrones et asynchrones pour communiquer avec les communautés web, les réseaux, et les groupes en ligne</li>
</ul>

<h5>Collaborer</h5>
<p>Fournir l’accès à des ressources Web</p>
<ul>
  <li>Choix d’un outil web à utiliser pour une contribution&thinsp;/&thinsp;collaboration particulière</li>
  <li>Création collaborative de ressources web</li>
  <li>Configuration des notifications destinées à rester à jour avec les chantiers en cours de la communauté</li>
</ul>

<h5>Rejoindre des communautés</h5>
<p>Être impliqué au sein de communautés web et comprendre leurs pratiques</p>
<ul>
  <li>S’engager dans des communautés web, à différents niveaux</li>
  <li>Faire des critiques constructives dans un groupe ou une communauté</li>
  <li>Paramétrer les outils utilisés par les communautés en ligne</li>
  <li>Participer à des discussions synchrones et à des discussion asynchrones</li>
  <li>Exprimer des opinions de façon pertinente dans des discussions en ligne</li>
  <li>Définir la terminologie spécifique utilisée dans les communautés en ligne</li>
</ul>

<h5>Vie privée</h5>
<p>Examiner les conséquences du partage de données en ligne</p>
<ul>
  <li>Identifier les droits accordés et soustraits par des conditions d’utilisation</li>
  <li>Prendre les mesures nécessaires pour sécuriser les connexions non chiffrées</li>
  <li>Expliquer les méthodes utilisées par les pirates informatiques pour accéder aux informations d‘un utilisateur</li>
  <li>Gérer l’empreinte numérique d’un personnage en ligne</li>
  <li>dentifier les éléments sensibles de votre identité et prendre les mesures adaptées pour les garder privées</li>
</ul>

<h5>Pratiques ouvertes</h5>
<p>Aider le Web à rester démocratique et universellement accessible</p>
<ul>
  <li>Différencier les licences ouvertes des licences fermées</li>
  <li>Rendre des ressources web disponibles sous une licence libre</li>
  <li>Utiliser et partager des documents dans des formats ouverts et adaptés au web</li>
  <li>Contribuer à un projet libre ou open source</li>
</ul>-->
